/* ------------
    Fonts
------------ */

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

/* ------------
    Global CSS
------------ */

:root {
  --orange: #e76f51;
  --grey: #6c6c6c;
  --light-grey: #e0e0e0;
  --blue-dia: #264653;
  --rating: #e77c40;
  --border-color: #dedede;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

img {
  max-width: 100%;
  vertical-align: middle;
}

/* ------------
    Hero Section
------------ */

.hero {
  /* min-height: 100vh; */
  padding: 5% 7%;
  background-color: var(--blue-dia);
}

.hero p {
  color: var(--light-grey);
  line-height: 24px;
}

.btn-org {
  background-color: var(--orange);
  padding: 10px 46px;
}

.btn-org:hover {
  background-color: #ec4d26;
  transition: background-color 0.5s ease-in-out;
}

/* ------------
    Featured Section
------------ */

.feature small,
span {
  color: var(--orange);
  font-weight: 600;
}

.bnw {
  filter: rgb(71, 71, 71);
  -webkit-filter: grayscale(3);
  filter: grayscale(3);
}
.feat-img div {
  width: 288px;
}

/* ------------
    Happy Client Section
------------ */
.testimonial img {
  width: 149px;
}

.testimonial p {
  color: var(--grey);
}

.fa-star {
  color: var(--rating);
}

.user {
  width: 322px;
}

/* ------------
    FAQ Section
------------ */
.accordion-body {
  color: #7e848c;
}

/* ------------
    Contact Us Section
------------ */
